/* imports */
@import url(http://fonts.googleapis.com/css?family=Jim+Nightshade|Henny+Penny)

/* body style */

body {font-family: Georgia, Times; font-size: 1em; color: #000099; background-color: #808080;}
.always-style {font-family: verdana, arial; color: #66F; text-align: justify; text-indent: 34px; text-transform: lowercase;}
a {color: #663399; text-decoration: line-through;}
a:link {color:orange;}
a:visted {color:yellow; text-decoration: underline}
a:hover {color: fuchsia; text-decoration: overline}
a:active {color: red;}

a.yt {color:black; font-family: "Jim Nightshade", cursive;}
a.yt:link {color: red; text-decoration: line-through;}
#majAch {color: #9900FF; font-family: 'Henny Penny', cursive;}

Body {background-image: url(twPic.jpg);}


/* header style */
h1,h2 {font-family: Verdana, Arial; font-weight: bold; color: black; font-size: 2em; text-shadow: 1px 1px 0 black}
h2 {font-size: 120%; font-weight: lighter; font-style: italic; font-variant: small caps}
h3 {text-align: right;}
h3:first-letter {font-weight: bold; color: black;}
h3:first-line {font-style: italic;}
/* table style */

caption {background-color:#999; border: 1px solid black}
table {background-color: #ccc; border: 1px solid black; padding: 5px; width: 90%;}
th {background-color: #333; border:}
tr {background-color: #999;}
td {background-color: #ccc; color: #123456; border: 1px solid black;}
.highlight {background-color: #fff; color: orange;}

/* fieldset style */

fieldset {background-image: url(RS125.jpg); background-repeat: no-repeat; background-position: left;}