/* body style */

body {color: #FFCC99; background-color:#808080;}
a {color: #66CC33;}
body {background-image: url(twPic.jpg);}

/* table style */

caption {background-color:#999; border: 1px solid black}
table {background-color: #ccc; border: 1px solid black; padding: 5px; width: 90%;}
th {background-color: #333; border:}
tr {background-color: #999;}
td {background-color: #ccc; color: #123456; border: 1px solid black;}
.highlight {background-color: #fff; color: orange;}

/* fieldset style */

fieldset {background-image: url(RS125.jpg);}